fastapi
flask 
flask-cors
uvicorn[standard]
python-multipart
python-dotenv
pydantic
torch
torchaudio
transformers
sentencepiece==0.1.99
speechbrain
openai-whisper
librosa
soundfile
nltk
spacy
fpdf2
reportlab
pydub
jellyfish
Levenshtein
fuzzy
pandas
scipy
beautifulsoup4 
markdown